Source: blankon-desktop
Section: metapackages
Priority: optional
Maintainer: BlankOn Developers <BlankOn@googlegroups.com> 
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 4), cdbs

Package: blankon-desktop
Architecture: any
Recommends: blankon-panel, blankon-session, gnome-session, gnome-control-center
Description: The BlankOn desktop system
 This package depends on all of the packages in the BlankOn desktop system
 .
 It is also used to help ensure proper upgrades, so it is recommended that
 it not be removed.

